html{
	color: white;
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	padding:1em;
	font-family: sans-serif;
	line-height: 1.75em;
	text-align: center;
	font-family: 'sans-serif';
	background-image: url(background.png);
	font-size:110%;
}

body{
	background-color:transparent;
}

header{
	margin-top: 2em;
	padding-top: 5em;
	background-image: url(header.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.content{
	background-color: white;
	color: black;
	padding: 1em;
}

footer{
	padding-top: 2em;
	padding-bottom: 2em;
}

header h1{
	visibility: hidden;
}


h1, h2, h3{
	text-transform: uppercase;
}

a{
	color: #790000;
	text-decoration: none;
}
a:hover{
	color: #bb0000;
}

.box{
	display:flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
}

.download{
	display:inline-block;
	background-color: #790000;
	color: white;
	width:100%;
}

.download:hover{
	background-color: #bb0000;
}

.download h3{
	color: white;
	text-transform: lowercase;

}

.detail {
	display: inline-block;
	flex-basis: 15em;
	vertical-align: top;
}

img{
	font-size: initial;
	flex-basis: 49%;
	flex-grow: 1;
	display: inline-block;
	margin:.25em;
	width:0;
	min-width:100%;

}

.left{
	text-align: left;
}

.mono{
	text-align: left;
	font-family: monospace;
}

video{
	max-width:95%;
}