
html{
  background-image: url(background.png);
  font-family:"Arial";
  padding-top: 5%;
  padding-bottom: 5%;
  background-attachment:fixed;
}

a{color:#505050;}
a:hover{color: #790000;}

td{padding:0;}

#header_image{
  margin-bottom: 3%; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  text-align: center;
  width:33%;
}

footer{
  color: white;
  text-align: center;
  margin-top: 3%;
}
footer a{
  color:white;
}

#sidebar div {
  box-shadow: 0 0 7px 1px #0a0b13; 
  padding:3%;
  padding-left:10%;
  margin-bottom: 10%;
}

#content{
  margin:auto;
  width:auto;
  background-color:white;
  max-width: 75%;
  padding: 3%;
  min-width: 890;
}

#sidebar{
  float: right;
  width:25%; 
}

#main{
  width:73%;
}

#image{
  width:100%;
}

#youtube{
  max-width:640px; 
  width:100%;
}
