
html{
  background-image: url(background.png);
  font-family:"Arial";
  padding-top: 5%;
  padding-bottom: 5%;
  background-attachment:fixed;
}

a{color:#505050;}
a:hover{color: #790000;}

.header_image{
  margin-bottom: 3%; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  text-align: center;
  min-width: 312px;
  max-width: 412px;
  width:33%;
}

header p{display:none;}

header{min-width:900px;}

footer{
  color: white;
  text-align: center;
  margin-top: 3%;
  min-width: 900px;
}

footer a{color:white;}

.sidebar div {
  box-shadow: 0 0 7px 1px #0a0b13; 
  padding:3%;
  margin-bottom: 10%;
}

.sidebar p{text-align: center;}
.sidebar h3{text-align:center;}

.content{
  margin:auto;
  width:auto;
  background-color:white;
  padding: 3%;
  min-width: 900px;
  max-width: 900px;
}

.sidebar{
  float: right;
  width: 25%; 
}

.main{
  width:73%;
}

.images{
  width:100%;
}

.image{
  max-width: 49%;
  max-height: 49%;
}

.youtube{
  max-width:640px; 
  width:100%;
}

code{
  padding-left: 3%; 
  display: block;
}
